{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Privacy{% endblock %}

{% block content %}


<div class="container">
	<div class="page-header">
		<h1>Privacy Policy<small> Please read carefully</small></h1>
	</div>
	<div>
		<nav>
		<h1 id="contents">Contents</h2>
		<ul>
			<li><a href="#personal-info">Your information</a>
				<ul>

				</ul>
			</li>
			<li>
				<a href="#collection">Collection</a>
				<ul>
					<li><a href="#collection_tracking">Tracking technologies</a></li>
				</ul>
			</li>
			<li>
				<a href="#use">Use</a>
			</li>
			<li>
				<a href="#disclosure">Disclosure</a>
				<ul>
					<li><a href="#disclosure_partners">Partners</a></li>
				<li><a href="#disclosure_legal">Legal process</a></li>
				</ul>
			</li>
			<li>
				<a href="#storage">Storage</a>
				<ul>
					<li><a href="#storage_location">Where your info lives</a></li>
					<li><a href="#storage_duration">How long we keep your info</a></li>
				</ul>
			</li>
			<li>
				<a href="#misc">About</a>
				<ul>
					<li><a href="#choice">Your choices</a></li>
					<li><a href="#change">Changes to this policy</a></li>
					<li><a href="#contact">Contact us</a></li>
				</ul>
			</li>
		</ul>
		</nav>
		<article>
			<nav class="to-top"><a href="#contents">back to top</a></nav>
			<section>
			<h1 id="personal-info">Your Personal Information</h1>
			<p>
				We do not request personal information in association with plot data. Any information that you submit is entirely your responsibility. 
			</p>
			</section>
			<nav class="to-top"><a href="#contents">back to top</a></nav>
			<section>
				<h1 id="collection">How we collect info</h1>
				Our complexity plot online application stores only the data you provide. Data such as IP address, etc, is not willfully stored by our app, but may be stored by third-party tracking technologies.
				<h2 id="collection_tracking">Tracking technologies</h2>
				We use Google Analytics to track visitors to our site.
			</section>
			<nav class="to-top"><a href="#contents">back to top</a></nav>
			<section>
			<h1 id="use">How we use your info</h1>
			You have the option to make your submitted plot, including all of its attributes, publicly available when submitting. Upon selecting the `publicly available' option, you consent to us making your data available to the public from our servers. If you do not select this option, your data will not be willfully disclosed to any third parties but may still be stored on our servers indefinitely.
			</section>
			<nav class="to-top"><a href="#contents">back to top</a></nav>
			<section>
			<h1>Liability</h1>
			You are entirely responsible for the information you provide to us. We do not accept responsibility for the content of your data.
			</section>
			<section>
			<h1 id="storage">How we store your info</h1>
			<h2 id="storage_location">Where your info lives</h2>
			Any information you submit to us will be stored internally on our servers within Oxford University. We do not use third-party hosting providers for such data.
			<h2 id="storage_duration">How long we keep your info</h2>
			We reserve the right to hold your data indefinitely, but you may contact us to remove such data as permitted under the Data Protection Act.
			</section>
			<nav class="to-top"><a href="#contents">back to top</a></nav>
			<h1 id="misc_contact">Contact us</h1>
			<p>If you have any questions regarding our privacy policy, please <a href="/contact">contact us.</a></p>
			</section>
		</article>
	</div>
</div>
{% endblock %}

